USE [master]
GO
/****** Object:  Database [Netflix]    Script Date: 06/02/2019 13:59:17 ******/
CREATE DATABASE [Netflix] ON  PRIMARY 
( NAME = N'Netflix', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Netflix.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Netflix_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Netflix_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Netflix].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Netflix]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06/02/2019 13:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[account_id] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[account_type] [nvarchar](255) NULL,
	[payment_gmail] [nvarchar](255) NOT NULL,
	[birthday] [date] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_users] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 06/02/2019 13:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[videos]    Script Date: 06/02/2019 13:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[videos](
	[video_id] [int] IDENTITY(1,1) NOT NULL,
	[video_name] [nvarchar](255) NULL,
	[video_time] [int] NULL,
	[video_rel_country] [nvarchar](255) NULL,
	[category_id] [int] NULL,
	[release_date] [date] NULL,
	[director] [nvarchar](255) NULL,
	[writers] [nvarchar](255) NULL,
	[stars] [nvarchar](255) NULL,
	[rating] [float] NULL,
 CONSTRAINT [PK_videos] PRIMARY KEY CLUSTERED 
(
	[video_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[playlist]    Script Date: 06/02/2019 13:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[playlist](
	[playlist_id] [int] IDENTITY(1,1) NOT NULL,
	[playlist_name] [nvarchar](255) NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_playlist] PRIMARY KEY CLUSTERED 
(
	[playlist_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 06/02/2019 13:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[purchase_date] [datetime] NULL,
	[expiration_date] [datetime] NULL,
	[account_type] [nvarchar](255) NULL,
 CONSTRAINT [PK_payments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[playlist_video]    Script Date: 06/02/2019 13:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[playlist_video](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[playlist_id] [int] NULL,
	[user_id] [int] NULL,
	[video_id] [int] NULL,
 CONSTRAINT [PK_playlist_video] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorite_videos]    Script Date: 06/02/2019 13:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite_videos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[video_id] [int] NULL,
 CONSTRAINT [PK_favorite_videos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_users_account_type]    Script Date: 06/02/2019 13:59:17 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_account_type]  DEFAULT (N'basic') FOR [account_type]
GO
/****** Object:  ForeignKey [FK_videos_categories]    Script Date: 06/02/2019 13:59:17 ******/
ALTER TABLE [dbo].[videos]  WITH CHECK ADD  CONSTRAINT [FK_videos_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[videos] CHECK CONSTRAINT [FK_videos_categories]
GO
/****** Object:  ForeignKey [FK_playlist_users]    Script Date: 06/02/2019 13:59:17 ******/
ALTER TABLE [dbo].[playlist]  WITH CHECK ADD  CONSTRAINT [FK_playlist_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[playlist] CHECK CONSTRAINT [FK_playlist_users]
GO
/****** Object:  ForeignKey [FK_payments_users]    Script Date: 06/02/2019 13:59:17 ******/
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_users]
GO
/****** Object:  ForeignKey [FK_playlist_video_playlist]    Script Date: 06/02/2019 13:59:17 ******/
ALTER TABLE [dbo].[playlist_video]  WITH CHECK ADD  CONSTRAINT [FK_playlist_video_playlist] FOREIGN KEY([playlist_id], [user_id])
REFERENCES [dbo].[playlist] ([playlist_id], [user_id])
GO
ALTER TABLE [dbo].[playlist_video] CHECK CONSTRAINT [FK_playlist_video_playlist]
GO
/****** Object:  ForeignKey [FK_playlist_video_users]    Script Date: 06/02/2019 13:59:17 ******/
ALTER TABLE [dbo].[playlist_video]  WITH CHECK ADD  CONSTRAINT [FK_playlist_video_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[playlist_video] CHECK CONSTRAINT [FK_playlist_video_users]
GO
/****** Object:  ForeignKey [FK_playlist_video_videos]    Script Date: 06/02/2019 13:59:17 ******/
ALTER TABLE [dbo].[playlist_video]  WITH CHECK ADD  CONSTRAINT [FK_playlist_video_videos] FOREIGN KEY([video_id])
REFERENCES [dbo].[videos] ([video_id])
GO
ALTER TABLE [dbo].[playlist_video] CHECK CONSTRAINT [FK_playlist_video_videos]
GO
/****** Object:  ForeignKey [FK_favorite_videos_users]    Script Date: 06/02/2019 13:59:17 ******/
ALTER TABLE [dbo].[favorite_videos]  WITH CHECK ADD  CONSTRAINT [FK_favorite_videos_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[favorite_videos] CHECK CONSTRAINT [FK_favorite_videos_users]
GO
/****** Object:  ForeignKey [FK_favorite_videos_videos]    Script Date: 06/02/2019 13:59:17 ******/
ALTER TABLE [dbo].[favorite_videos]  WITH CHECK ADD  CONSTRAINT [FK_favorite_videos_videos] FOREIGN KEY([video_id])
REFERENCES [dbo].[videos] ([video_id])
GO
ALTER TABLE [dbo].[favorite_videos] CHECK CONSTRAINT [FK_favorite_videos_videos]
GO
